body {
    font-family: "Roboto",  sans-serif;
    color: #2e2f42;
    background-color: #fff;

}
ul { 
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
a {
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container{
    max-width: 320px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    /* max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px; */
    margin: 0 auto;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}


address {
    font-style: normal;
}
button {
    cursor: pointer;
}

/*-------------HEADER------------*/
.header-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
    /* padding-block: 24px; */
    max-width: 115px;
    /* margin-right: 76px; */
}

.header-logo .active {
    color: #4d5ae5;

}
.header-nav{
    
}
.header-menu-link {
   /*  font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    display: block;
    max-width: 48px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
    display: none;
}

/* .header-menu-link:hover {
    color: #404bbf;
}

.header-menu-link:focus {
    color: #404bbf; 

} */

 .header-contacts-link {
   /*  font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
    padding-block: 24px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
display: none;
} 
.header-contacts{
    display: none;
}

/* .header-contacts-link:hover {
    color: #404bbf;
}

.header-contacts-link:focus {
    color: #404bbf;
} */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    padding-block: 16px;
}

.header-btn {
    padding: 0;
    background-color: transparent;
    border: none;
    margin-right: 0;
    margin-left: auto;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-icon {

    fill: #2e2f42;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.header-btn:hover .header-icon, .header-btn:focus .header-icon {
    fill: #404bbf;
}


 .header-nav {
   display: flex;

}

/* .header-menu-list {
    display: flex;
    gap: 40px;
}

.header-contacts-list {
    display: flex;
    gap: 40px;

}

.header-contacts {
    margin-left: auto;


} */

.header-container {
    display: flex;
    justify-content: space-between;
}  

/* .header-studio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
    position: relative;
    padding-bottom: 24px;
}

.studio::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #404bbf;

    border-radius: 2px;

    bottom: -1px;
    right: 0px;
    position: absolute;




} */

/*-------------SOLUTIONS------------*/
.solutions {
    background: #2e2f42;
    padding-block: 72px;

    /* padding-block: 188px;
    max-width: 1440px; */
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/solutions-bg-mob.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


    @media screen and (min-resolution: 2x), (webkit-min-device-pixel-ratio: 2) {
        .solutions{     
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                    url("../images/solutions-bg-mob-2x.jpg");
            }
        }


.solutions-title {
    /* font-size: 56px;
    line-height: 1.07; */
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    /* max-width: 496px; */
    max-width: 216px;
    margin: 0 auto;
    /* margin-bottom: 48px; */
    margin-bottom: 72px;
}

.solutions-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    padding: 16px 32px 16px 32px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    max-width: 169px;
    display: block;
    margin: 0 auto;
    white-space: nowrap;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


}

.solutions-button:hover,
.solutions-button:focus {
    background-color: #404BBF;
}





/*-------------advantages------------*/
.advantages {
    padding-block: 96px;
    /* padding-block: 120px; */

}

.advantages-list {
    display: flex;
    /* gap: 24px; */
    gap: 72px;
    flex-wrap: wrap;
}

.advantages-item {
   /*  width: calc((100% - 24px * 3) / 4); */
   width: 100%;
    
}

.advantages-subtitle {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
    /* font-weight: 500;
    font-size: 20px;
    line-height: 1.2; */
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;


}

.advantages-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.advantages-icon-container {
   /*  border-radius: 4px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    border: 1px solid #8e8f99; */
    display: none;
}

.advantages-icon {}




/*-------------team------------*/
.team {
    background: #f4f4fd;
    /* padding-block: 120px; */
    padding-block: 96px;
   

}

.team .container {
    padding-inline: 28px;
}
    

.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    max-width: 162px;
    margin: 0 auto;
    margin-bottom: 72px;
    white-space: nowrap;
}

.team-list {
    display: flex;
    gap: 72px;
    /* gap: 24px; */
    justify-content: center;
    flex-wrap: wrap;
       
}

.team-item {
    background-color: #fff;
 /*  width: calc((100% - 24px * 3) / 4); */
    width: 100%;
    max-width: 264px;
    border-radius: 0 0 4px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    



}

.team-info {
    padding: 32px 16px;
    max-width: 264px;
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.team-social-link {
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    fill: #F4F4FD;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.team-social-link:hover,
.team-social-link:focus {
    background-color: #404bbf
}

.team-social-item {
    display: flex;
    align-items: center;
    justify-content: center;




}

.team-social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px
}

.team-image {

    display: block
}



.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    
    margin: 0 auto;
}


.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    max-width: 232px;
    margin: 0 auto;
}

.team-social-item {
    display: inline-block;
}

/*-------------portfolio------------*/
.portfolio {
    /* padding-block: 120px; */
    padding-block: 96px;
}

.portfolio-container {}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin: 0 auto;
    max-width: 218px;
    margin-bottom: 72px;
    white-space: nowrap;
}

.portfolio-list {
    display: flex;
    /* gap: 48px 24px; */
    gap: 48px;
    justify-content: center;
    flex-wrap: wrap;

}

.portfolio-item {
    width: 100%;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
   /*  width: calc((100% - 24px * 2) / 3); */
    /* transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */


}

/* .portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

} */

.portfolio-info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;




}

.portfolio-image {
    display: block
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    max-width: 360px;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    max-width: 360px;
}

.portfolio-text-item {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-item:hover .portfolio-text-item {
    transform: translateY(0);
}

.portfolio-image-container {
    position: relative;
    overflow: hidden;
    height: 280px;
    
}
.portfolio-image{
    width: 100%;
    height: 100%;
    object-fit: none;
    object-position: top left;
}

/*-------------footer------------*/
.footer {
    background: #2e2f42;
    /* padding-block: 100px; */
    padding-block: 96px;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    margin-top: 16px;
    
}

.footer-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    max-width: 115px;
    display: flex;
    margin: 0 auto;

    
    


}

.footer-logo .active {
    color: #4d5ae5;
}

.footer-social-link {
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;

    fill: #F4F4FD;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}

.footer-social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    margin-bottom: 16px;
    /* display: flex; */
    text-align: center;
}

.footer-social-list {
    display: flex;
    gap: 16px;

}





.footer-container {
    display: flex;
    /* align-items: baseline; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 72px;
    }

.footer-info {
    
    
}

.footer-socials {
    /* margin-left: 120px; */
    
}

.footer-subscribe {
    /* margin-left: auto; */
    
}

.footer-input{
    border: 1px solid #fff;
        border-radius: 4px;
        height: 40px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background-color: transparent;
        /* width: 264px; */
        width: 288px;
        padding: 8px 16px;
        
        font-size: 12px;
            line-height: 2;
            letter-spacing: 0.04em;
            color: #fff;
        transition-property: border-color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:hover, .footer-input:focus {
    outline: transparent;
    border-color: #31d0aa;
}

.footer-form{
    display: flex;
    align-items: center;
    /* gap: 24px; */
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
}
    
       
    


.footer-button{
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff;
        border-radius: 4px;
            padding: 8px 24px;
            background: #4d5ae5;
            display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                gap: 16px;
                border: none;
                transition-property: background-color;
                    transition-duration: 250ms;
                    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                }

.footer-button:hover,
.footer-button:focus {
    background-color: #31d0aa;
    ;

}
            
  


.footer-button-icon {
    
    
    fill: #fff;}

.footer-input::placeholder{

    font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #fff;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility;
}

.backdrop.is-open, .mob-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
   /*  max-width: 408px;
    min-height: 584px; */
    max-width: 288px;
    min-height: 623px;
    
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    /* padding: 72px 24px 24px 24px; */
    padding: 72px 16px 24px 16px;

}

.modal-close-button {
    background-color: #e7e9fc;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    fill: #2e2f42;
    stroke-width: 1px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 24px;
    right: 24px;
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
    background-color: #404bbf;
    fill:#fff;

}

.modal-title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    /* max-width: 360px; */
    max-width: 256px;
    margin-bottom: 16px;
}

.modal-input {
        border: 1px solid rgba(46, 47, 66, 0.4);
            border-radius: 4px;
            /* width: 360px; */
            width: 256px;
            height: 40px;
            background-color: transparent;
            /* padding-left: 38px; */
            padding-left: 34px;
            transition-property: border-color;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            }
             
    .modal-input:hover , .modal-input:focus  {
        outline: transparent;
        border-color: #4d5ae5;
         
        }
      
      

        .modal-input:hover+.modal-icon {
            fill: #4d5ae5;
        }

         .modal-input:focus+.modal-icon {
            fill: #4d5ae5;
        }

        

    .modal-field:not(:last-child) {
        margin-bottom: 8px;
    }
    
    .modal-label {
            font-weight: 400;
            font-size: 12px;
            line-height: 1.167;
            letter-spacing: 0.04em;
            color: #8e8f99;
            margin-bottom: 4px;
            display: inline-block;
    }

    .modal-icon {

        position: absolute;
        left: 16px;
            top: 50%;
            transform: translateY(-50%);
         transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
             
        
    }

    .modal-input-container {
        position: relative;
    }

    .modal-textarea{
        height: 120px;
        resize: none;
        padding: 8px 16px;
    }

    .modal-field-checkbox{
        margin-top: 16px;
        margin-left: 24px;
         margin-bottom: 24px;
        
        

       
    }

    .modal-checkbox-label{
        font-size: 12px;
            line-height: 1.167;
            letter-spacing: 0.04em;
            color: #8e8f99;
            
           
            position: relative;
            
             
            
             
        
         
        
            
    }
    

    .check-mark{
    border-radius: 2px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        width: 16px;
        height: 16px;
        margin-right: 8px;
        display: inline-flex;
        position: absolute;
        transform: translate(-150%, 50%);
        align-items: center;
        justify-content: center;
        fill: transparent;
        transition-property: background-color, border-color, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       
    }

    .modal-checkbox:checked + .modal-checkbox-label .check-mark{
        background-color: #404bbf;
        border-color: #404bbf;
        fill: #f4f4fd;
    }

    .modal-send-button{
         font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em; 

            text-align: center;
            color: #fff;
            border-radius: 4px;
            padding: 16px 32px;
            width: 169px;
                height: 56px;
            display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: row;
                gap: 10px;
                box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
                    background: #4d5ae5;
                    border: none;
                    display: block;
                    margin: 24px auto;
                    white-space: nowrap;
                        transition-property: background-color;
                        transition-duration: 250ms;
                        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

        .modal-send-button:hover,
        .modal-send-button:focus {
            background-color: #404BBF;
        }

     
        .modal-link{
            line-height: 1.33333;
                text-decoration: underline;
                text-decoration-skip-ink: none;
                color: #4d5ae5; 
                
                
               
        }

.mob-menu {

position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 24px 24px 40px 16px;
    display: flex;
   
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    

}

.mob-menu-container {
    display: flex;
    flex-direction: column;
        justify-content: space-between;
}

.menu-close-button {
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-bottom: 24px;
        border-radius: 100%;
        width: 24px;
        height: 24px;
        fill: #2e2f42;
        stroke-width: 1px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        transition-property: background-color, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-button:hover,
.menu-close-button:focus {
    background-color: #404bbf;
    fill:#fff;
}

.mob-menu-nav {}

.mob-menu-list {
    
}


.mob-menu-item:not(:last-child) {
    margin-bottom: 40px;

}

.mob-menu-link {font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }

.studio {
    color: #404bbf;
}

.mob-menu-contacts {
margin-bottom: 48px;
}

.mob-menu-contacts-list {}

.mob-menu-contacts-item:not(:last-child) {
    margin-bottom: 24px;
}

.mob-menu-contacts-link {

font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    
}
.mob-menu-contacts-link-tel {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
    color: #404bbf;
}


    


.mob-menu-social-list {
        display: flex;
        align-items: center;
        gap: 40px
}

.mob-menu-social-item {
        display: flex;
        align-items: center;
        justify-content: center;
}

.mob-menu-social-link {

    background-color: #4d5ae5;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        fill: #F4F4FD;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.mob-menu-social-link:hover,
.mob-menu-social-link:focus {
    background-color: #404bbf
}

.mob-menu-social-icon {}


@media screen and (min-width: 768px) {
     .container {
        max-width: 768px;
     }

.mob-menu.is-open {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.header {
    padding-block: 0; 
}
.header-btn {
    display: none;
}
.header-nav {
    display: block;
}

.header-contacts{
    display: block;
}
.header-logo {
    padding-block: 24px;
    max-width: 115px;
    margin-right: 120px;
}
.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    display: block;
    max-width: 48px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
    
}
    .header-menu-link:hover {
        color: #404bbf;
    }
.header-menu-link:focus {
    color: #404bbf;
}
.header-contacts-link {
    font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
    color: #434455;
    display: block;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
    
}
.header-studio {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    color: #404bbf;
    position: relative;
    padding-bottom: 24px;
}

.header-studio::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #404bbf;

    border-radius: 2px;

    bottom: -1px;
    right: 0px;
    position: absolute;
}
.header-contacts-item:not(:last-child) {
    margin-bottom: 12px;
}
.header-contacts-link:hover {
    color: #404bbf;
}

.header-contacts-link:focus {
    color: #404bbf;
}
.header-nav {
    display: flex;

}

.header-menu-list {
    display: flex;
    gap: 40px;
}



.header-contacts {
    margin-left: auto;


}

.header-container {
    display: flex;
    align-items: center;
}

    .solutions {
         background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/solutions-bg-tab.jpg");
        padding-block: 112px;
     }
.solutions {
     @media screen and (min-resolution: 2x), (webkit-min-device-pixel-ratio: 2) {
            
                 background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                 url("../images/solutions-bg-tab-2x.jpg");
            }
    }
     .solutions-title {
            font-size: 56px;
            line-height: 1.07;
            letter-spacing: 0.02em;
            text-align: center;
            max-width: 496px;
            margin-bottom: 36px;
         }

        .advantages-list {
            gap: 72px 24px;
        }

        .advantages-item {
            width: calc((100% - 24px ) / 2); 
                    
        
         }
        
         .advantages-subtitle {

            text-align: start;

         }
        .team .container {
            padding-inline: 108px;
        }
        .team-list{
            gap: 64px 24px;
        }
        .team-item {
            width: calc((100% - 24px) / 2);
            max-width: 264px;
        }
        
        .portfolio-list{
            gap: 72px 24px;
         }
        .portfolio-item {
            width: calc((100% - 24px) / 2);
        }

        .portfolio-image-container {
            height: 300px;
        }
        .footer .container {
            padding-inline: 108px;
        }
        .footer-container {
            gap: 72px 24px;
            align-items: baseline;
            justify-content: start;
        }
        .footer-form {
            gap: 24px;
        }
        .footer-input {
            width: 264px;
        }
        .modal {
            max-width: 408px;
            min-height: 584px;
            padding: 72px 24px 24px 24px;
        }
        .modal-title {
            max-width: 360px;
        }
        .modal-input {
            width: 360px;
        }
        .check-mark {
        transform: translate(-150%);
         }
       

    }


 @media screen and (min-width: 1158px) {
     .container, .team .container, .footer .container {
         max-width: 1158px;
         padding-left: 15px;
         padding-right: 15px;
     }
         .header-logo {
            margin-right: 76px;
         }
         .header-contacts-list {
             display: flex;
             gap: 40px;
    
         }
         .header-contacts-link {
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.02em;
         }
    .solutions {
        padding-block: 188px;
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url("../images/solutions-bg.jpg");
    }

   .solutions {
    @media screen and (min-resolution: 2x),
    (webkit-min-device-pixel-ratio: 2) {
        
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url("../images/solutions-bg-2x.jpg");
    }    
    }
    .solutions-title {
            font-size: 56px;
            line-height: 1.07;
            letter-spacing: 0.02em;
            max-width: 496px;
            margin-bottom: 48px;
        }
    .advantages {
        padding-block: 120px;
    }
    .advantages-list {
        gap: 24px;
    }
    .advantages-item {
    width: calc((100% - 24px * 3) / 4);
    }
    .advantages-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;  

    }
    .advantages-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }
    .advantages-icon-container {
        border-radius: 4px;
        background-color: #f4f4fd;
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        border: 1px solid #8e8f99;
    }
    .team {
    padding-block: 120px;
    }
    .team-list {
        gap: 24px;
    }
    .team-item {
        width: calc((100% - 24px * 3) / 4);
    }
     .portfolio {
        padding-block: 120px;
    }
     .portfolio-list {
        gap: 48px 24px;
    }
    .portfolio-item {
        width: calc((100% - 24px * 2) / 3);
        box-shadow: none;
        transition-property: box-shadow;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
        
        .portfolio-item:hover {
            box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        }
    .footer {
        padding-block: 100px;
    }
    .footer-container {
        align-items: baseline;
        flex-wrap: nowrap;
        gap: 0;
        
        
     }
     .footer-form {
        gap: 24px;
        
     }
     .footer-input {
        width: 264px;
    }
    .footer-subscribe {
        margin-left: auto; 
    
    }
    .footer-socials {
        margin-left: 120px;
        margin-bottom: 0;
    }
    .footer-social-text {
        display: flex;
    }
    .footer-logo {
        margin: 0;
    }

 }

    